<html>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
<body>
    <div id="app">
        <h1> Collabtube </h1>
        <h3 id='session_banner'> Session: {{session_id}} </h3>
            
        <input id="sessionId" type='text'>
        <input id="setSessionId" type='button' onclick="submitSessionId()" value="Set Session ID">
        <!-- <input id="reloadQueue" type='button' onclick="reloadQueue()" value="Reload Queue"> -->
        <input id="nextVideo" type='button' onclick="requestNextVideo()" value="Next Video">
        <input id="newVideoId" type="text">
        <input id="enqueueVideo" type="button" onclick="enqueueVideo()" value="Enqueue Video">
        <input id="clearQueue" type="button" onclick="clearQueue()" value="Clear">
        <h2>Queue</h2>
        <ul id="queue">
            <template v-for="item in queue">
                <li>
                    <img :src="item.snippet.thumbnails.default.url" />
                    {{ item.snippet.title }}
            </li>
            </template>
        </ul>

        <div id="search_div">
            <h2>Search</h2>
            <input type="text" id="search_terms">
            <input id="search" type="button" onclick="queryYoutube()" value="Search">
            <h3>Results</h3>
            <ul id="query_results">
                <template v-for="item in results">
                    <li v-on:click="appendResultToQueue(item.id.videoId)">
                        <img :src="item.snippet.thumbnails.default.url" />
                        {{ item.snippet.title }}
                    </li>
                </template>
            </ul>
        </div>

        {{ message }}
    </div>

</body>
<script>
const key = `AIzaSyDnH5-RlEB4CjH0VZp_LyuXaSq4-xtkSxY`;  // extra

var data = {
    session_id: "default_session",
    message: new Date().toLocaleTimeString(),
    queue: [],
    results: [],
};

setInterval(function() {
    data.message = new Date().toLocaleTimeString();
}, 1000);

var app = new Vue({
  el: '#app',
  data: data,
  methods: {
      appendResultToQueue: appendResultToQueue,
  },
});

function test(vid) {
    alert(vid);
}

    const ws = new WebSocket('wss://' + window.location.hostname + ':3000/');
    ws.onopen = function() {
        console.log('WebSocket Client Connected');
        ws.send(JSON.stringify({'action': 'set_session', 'session_id': app.session_id}));
        ws.send(JSON.stringify({'action': 'message', 'message': 'Hi this is web client.'}));
    };
    ws.onmessage = function(event) {
        console.log("Received: '" + event.data + "'");
        var msg = JSON.parse(event.data);
        switch (msg.action) {
            case "append_video":
                video_link = msg.video_link;
                console.log("appending video: " + video_link);
                appendSnippetToQueue(video_link);
                // app.queue.push(getSnippet(video_link));
                break;
            case "pop_video":
                video_link = msg.video_link;
                console.log("popping video: " + video_link)
                if (app.queue.length > 0 && app.queue[0].id == video_link) {
                    app.queue.shift();
                    console.log("popped video: " + video_link);
                } else {
                    console.log("WARNING: video " + video_link + " is not at the top of the queue");
                }
                break;
            case "clear_queue":
                app.queue = [];
                console.log("cleared queue");
                break;
            case "update_queue":
                msg.queue.forEach(appendSnippetToQueue);
                console.log("updated queue: " + app.queue);
                break;
        }
    };

    function clearQueue() {
        ws.send(JSON.stringify({'action': "clear_queue"}));
    }

    function enqueueVideo() {
        var new_video_id = document.getElementById("newVideoId").value;
        if (new_video_id.trim() == "") return;
        document.getElementById("newVideoId").value = "";
        ws.send(JSON.stringify({'action': "append_video", 'video_link': normalizeVideoLink(new_video_id)}));
    }

    function add_video_id_to_queue(video_id) {
        console.log("adding video id to queue: " + video_id);
        ws.send(JSON.stringify({'action': "append_video", 'video_link': video_id}));
    }

    function requestNextVideo() {
        console.log("requesting next video in queue");
        ws.send(JSON.stringify({'action': "request_next_video"}));
    }

    function submitSessionId() {
        new_session_id = document.getElementById("sessionId").value;
        if (new_session_id.trim() == "") return;
        document.getElementById("sessionId").value = "";
        ws.send(JSON.stringify({'action': "set_session", 'session_id': new_session_id}));
        app.session_id = new_session_id;
    }

    function normalizeVideoLink(video_link) {
        let url;
        
        try {
            url = new URL(video_link);
        } catch (_) {
            return video_link;
        }
        return url.searchParams.get("v");
    }

    function appendSnippetToQueue(vid) {
        const url = 'http://' + window.location.hostname + `:3000/video?id=${vid}`;
        fetch(url)
        .then(response => response.json())
        .then(resp => {
            app.queue.push(resp.items[0]);
        });
    }
    
    function appendResultToQueue(vid) {
        ws.send(JSON.stringify({'action': 'append_video', 'video_link': vid}));
    }

    function queryYoutube() {
        var query_terms = encodeURIComponent(document.getElementById("search_terms").value);
        const url = 'http://' + window.location.hostname + `:3000/search?q=${query_terms}`;
        fetch(url)
        .then(response => response.json())
        .then(resp => {
            app.results = resp.items;
        });
    }

</script>

</html>